.idea/
Report/
target/
testscucumber.iml
debug.log
testcucumber.log
build/
testcucumber.log.lck
cucumber.properties
testcucumber.log.1
/testcucumber.log*
/testcucumber.log.1*
/testcucumber.log.1.lck
testcucumber.log.1.lck
/appFiles/*.apk
